<p>This is only a test</p>


CONCERTS:

Index/dashboard for all

Show:
	3 same page subviews:

		-Stats
		-Seat View (subfilters based on paid/not paid, reservation type)
		-Reservation List

	Click on a reservation brings up modal with the detail of the order

Edit:
	Concert details

ORDERS

Index: list with pagination, filters and search. 

Show:
	Modal or link to page with details of the order like in the concerts
	List of reservations

Edit:
	Hmmm, should be a way to easily delete or modify reservations. Tough UX call

PAYMENTS
	Credit card payments. Ability to view or refund. Need a new situation. 

D