<main>
	<div class="container">
		<div class="row">
			<div class="col s12 m9 l10">
				<h3><%=@concert.name%><h3><h5><%=(I18n.localize @concert.date, format: :concert).capitalize%></h5>
				<% @types.each_with_index do |type, index|%>
					<p><%= type.name%> <%=@stats[index]%></p>
				<% end %>
			</div>
		</div>
	</div>
</main>