<main>
	<div class="container">
		<div class="row">
			<div class="col s12 m12 l12">
				<h2>Merci!</h2>
				<div class="divider"></div>
				<h6>Vos billets ont été enovyés à <%=@order.email%></h6>
				<p>Si vous avez des questions ou des remarques, n'hésitez pas à contacter la billeterie envoyant un mail à <%=mail_to('billetterie@musicales-tannay.ch')%> ou en téléphonant au +41 79 584 55 94</p>
			</div>
		</div>
	</div>
</main>
