<div class="container" id="basket-card" style="transform: translateX(150%);display:none;">
	<div class="row">
		<div class="col s12 m12 l12">
			<div class="card hoverable">
				<div class="card-content seats">
					<span class="card-title">NAME GOES HERE</span>
					<h6  style="margin-bottom:1rem">DATE AND LOCATION GOES HERE</h6>
						<p>This was Triumph</p>
					</div>
					<div class="card-action right-align">
						<a href="#">Lien</a>
						<a href="#">This is a link</a>
			        </div>
				</div>
			</div>
		</div>
	</div>
</div>