<div class="concert-card">
	<div class="col s12">
		<div class="card hoverable">
			<div class="card-image">
				<% unless small_concert_card.image.medium.url.nil? %>
					<%= image_tag small_concert_card.image.medium.url%>
				<% end %>
			</div>
				<%= render partial: "card_content", locals: {concert: small_concert_card, counter: 999}%>
		</div>
	</div>
</div>