<div class="concert-card">
	<div class="col m6 l4 counter">
		<div class="card hoverable">
			<div class="card-image">
				<% unless concert.wide_image.default.url.nil? %>
					<%= image_tag concert.wide_image.default.url%>
				<% end %>
			</div>
			<%= render partial: "card_content", locals: {concert: concert, counter: counter}%>
		</div>
	</div>
</div>