<main>
	<div class="container">
		<h2>Billetterie</h2>
		<%= render partial: "concert_card", collection: @concerts%>
		<div class="divider" style="margin-bottom:20px"></div>
		<div>
			<h5>Concours</h5>
			<p>En partenariat avec le Centre commercial Manor Chavannes, les Variations Musicales de Tannay vous permettent de gagner des places pour cette 9ème édition !</p>

			</p><a href="https://centre-manor-chavannes.ch/evenements/cha-concours-variations-musicales-de-tannay-2018">Participez au tirage au sort sur le site de Manor Chavannes</a></p>
		</div>
	</div>

</main>