<% content_for :section_title, "Billetterie"%>

	<div class="hide-on-med-and-down"> <!--LARGE-->
		<div class="container">
			<div class="row">
				<%= render partial: "wide_concert_card", collection: @concerts%>
			</div>
		</div>
	</div>
	<div class="hide-on-large-only hide-on-small-only"> <!--MEDIUM-->
		<div class="container">
				<%= render partial: "medium_concert_card", collection: @concerts%>
		</div>
	</div>
	<div class="hide-on-med-and-up"> <!--SMALL-->
		<div class="container">
			<div class="row">
				<%= render partial: "small_concert_card", collection: @concerts%>
			</div>
		</div>
	</div>