<%= form_tag("/concerts/#{concert.id}/reservations/unnumbered") do %>
  <label for="selection_count">Nombre de billets</label>
  <%= number_field_tag :selection_count %>
 <%= submit_tag "Submit" %>
<% end %>
