<main>
	<div class="container">
		<div class="row">
			<div class="col s12 m12 l12">
				<h4>Votre Commande</h4>
					<table>
						<tbody>
         					<tr>
								<td>Alvin</td>
								<td>Eclair</td>
								<td>$0.87</td>
							</tr>
						</tbody>
					</table>
			</div>
		</div>
	</div>
</main>