<main>
	<div class="container">
		<div class="row">
			<div class="col s12 m9 l10">
				<h4>Votre Panier</h4>
			</div>
		</div>
		<div class="col s12 m12 l12">
			<div>
				<img src=<%="https://s3-eu-west-1.amazonaws.com/variations/r-#{@reservation.id.to_s}-#{@reservation.code.to_s}.png"%> style="max-width:260px;" id="QRImage"/>
			</div>
		</div>
	</div>
</main>