<footer class="page-footer" stlye="background-color:#f5f5f6">
	<div class="footer center-align" style="padding:10px">
		<p>
			<img src="https://www.musicales-tannay.ch/images/sponsors/MazdaAtraAutomobiles.png" alt="MazdaAtraAutomobiles" style="margin: 20px; vertical-align: bottom;">
			<img src="https://www.musicales-tannay.ch/images/sponsors/LoterieRomande.png" alt="LoterieRomande" style="vertical-align: middle; margin: 20px;">
			<img src="https://www.musicales-tannay.ch/images/sponsors/Aeschbach.png" alt="Aeschbach" style="vertical-align: middle; margin: 20px;">
			<img src="https://www.musicales-tannay.ch/images/sponsors/FondationGandurPourLaJeunesse.png" alt="FondationGandurPourLaJeunesse" style="margin: 20px; vertical-align: middle;">
			<img src="https://www.musicales-tannay.ch/images/sponsors/LaCote2.png" alt="LaCote2" style="margin: 20px; vertical-align: middle;">
			<img src="https://www.musicales-tannay.ch/images/sponsors/ErnstGohner.png" alt="ErnstGohner" style="margin: 20px; vertical-align: middle;">
			<img src="https://www.musicales-tannay.ch/images/sponsors/FondationJuchum.png" alt="FondationJuchum" style="margin: 20px; vertical-align: middle;">
			<img src="https://www.musicales-tannay.ch/images/sponsors/CommunesDeTerreSainte.png" alt="CommunesDeTerreSainte" style="margin: 20px; vertical-align: middle;">
			<img src="https://www.musicales-tannay.ch/images/sponsors/Regionyon.png" alt="Regionyon" style="margin: 20px; vertical-align: middle;">
			<img src="https://www.musicales-tannay.ch/images/sponsors/Gland2.png" alt="Gland2" style="vertical-align: middle; margin: 20px;">
			<img src="https://www.musicales-tannay.ch/images/sponsors/Nyon.png" alt="Nyon" style="margin: 20px; vertical-align: middle;">
			<img src="https://www.musicales-tannay.ch/images/sponsors/FondationEngelberts.png" alt="FondationEngelberts" style="margin: 20px; vertical-align: middle;">
			<img src="https://www.musicales-tannay.ch/images/sponsors/FondationOtto.png" alt="FondationOtto" style="margin: 20px; vertical-align: middle;">
		</p>
		<p style="color: #475058;font-size:13px">
			© VARIATIONS MUSICALES DE TANNAY&nbsp;&nbsp; / &nbsp; 
			<a href="www.musicales-tannay.ch/contact" target="_self" style="text-decoration: none; color: #475058;">CONTACT</a>&nbsp;&nbsp; / &nbsp; 
			<a href="www.musicales-tannay.ch/espace-presse" target="_self" style="text-decoration: none; color: #475058;">ESPACE PRESSE</a>
		</p>
		<p>
			<a href="https://www.facebook.com/musicalestannay/?fref=ts" target="_blank" rel="noopener noreferrer">
				<img src="https://www.musicales-tannay.ch/images/Facebook_VariationsMusicalesTannay.png" alt="Facebook VariationsMusicalesTannay" style="margin: 10px; vertical-align: middle;">
			</a>
			<a href="https://twitter.com/musicalestannay" target="_blank" rel="noopener noreferrer">
				<img src="https://www.musicales-tannay.ch/images/Twitter_VariationsMusicalesTannay.png" alt="Twitter VariationsMusicalesTannay" style="vertical-align: middle; margin: 10px;">
			</a>
			<a href="https://www.instagram.com/musicales_tannay/" target="_blank" rel="noopener noreferrer">
				<img src="https://www.musicales-tannay.ch/images/Instagram_VariationsMusicalesTannay.png" alt="Instagram VariationsMusicalesTannay" style="vertical-align: middle; margin: 10px;">
			</a>
		</p>
	</div>
</footer>