<!DOCTYPE html>
<html>
  <head>
    <title>Vos Billets Pour les Variations Musicales de Tannay</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css" data-premailer="ignore">
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
